test
.DS_Store
Makefile.us*
secrets.mk
custom.mk

*.terraform.state
# Compiled files
*.tfstate
*.tfstate.backup
*.tfstate.lock.info

# Maps from runtime
config-map-aws-auth*
kubeconfig*

# logs
*.log

# Directories
.terraform/
.vagrant/
.kitchen/
# SSH Keys
*.pem

# Backup files
*.bak

# Ignored Terraform files
*gitignore*.tf

# Ignore Mac .DS_Store files
.DS_Store

# Ignored vscode files
.vscode/

# gem installs
vendor/
